# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Environments
.venv/
venv/
env/

# Datasets and model training outputs (to keep git history light)
data/
outputs/
*.pt
